/* a=0 b=0 c=6 -> Especifidad= 1*/
h1,h2,h3,h4,h5,h6{ 
  font-family: "Cooper Black",
               Arial,
            "Times New Roman", 
            serif;
  font-weight: 900;
  font-size-adjust: 0.6;
  background-color:black;
  color: red;

  text-align: justify;
  text-transform: Uppercase;
   font-style: italic;
   border-radius:0.5em;
 
 

}

/* a=0 b=0 c=1 -> Especifidad= 1*/
h1{
   text-align: justify;
  font-stretch: expanded;
   color:red;
   font-size: 4em;
   letter-spacing: 0.5em;
   border-radius: 0.2em;
}
/* a=0 b=0 c=1 -> Especifidad= 1*/
h2{
   font-size: 3em;
}
/* a=0 b=0 c=1 -> Especifidad= 1*/
h3{
   font-size: 2.5em;
}
/* a=0 b=0 c=1 -> Especifidad= 1*/
h4{
   font-size: 2em;
}
/* a=0 b=0 c=1 -> Especifidad= 1*/
h5{
   font-size: 1.5em;
}
/* a=0 b=0 c=1 -> Especifidad= 1*/
h6{
   font-size: 1em;
}
/* a=0 b=0 c=5 -> Especifidad= 5*/
p,li,dl,ol,table{
    font-weight: 900;
   font-family:
            Arial,
            serif;
   font-size: 0.8em;
  color: white;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
table{
     background-color: black;
}


/* a=0 b=0 c=4 -> Especifidad= 4*/
tr>td,li>a{
   font-family: Georgia,
            "Times New Roman",
            Arial,
            serif;
}

/* a=0 b=0 c=2 -> Especifidad= 2*/
p::first-letter {
  font-size: 1.5em;
  
}

/* a=0 b=1 c=1 -> Especifidad= 11*/
a:link{
   color: black;
}

/* a=0 b=1 c=1 -> Especifidad= 11*/
a:visited{
   color: white;
}

/* a=0 b=1 c=1 -> Especifidad= 11*/
a:focus{
   color:blue;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
audio{
   background-color: brown;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
video{
   border-radius: 1.2em;
   background-color: black;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
a{
   letter-spacing:0.5em;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
img{
   border: black 2px solid;
   border-color:red;
}

/* a=0 b=0 c=2 -> Especifidad= 2*/
footer img{
    border:0;
}

/* a=0 b=0 c=1 -> Especifidad= 1*/
li{
      list-style-type: square;
}
